
:global {
  .allot-left {
    p {
      height: 30px;
      line-height: 30px;
      margin-top: 15px;
      .major-name {
        width: 88px;
        height: 24px;
        display: inline-block;
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
        line-height: 24px;
      }
    }
    .ant-menu-horizontal{
      line-height: 40px;
    }
    .whole-major-search{
      //height: 42px;
      padding: 5px 0 5px 0;
      line-height: 42px;
      border-top: solid 1px #d9d9d9;
      border-bottom: solid 1px #d9d9d9;
      input{
        width: 175px;
        margin-right: 24px;
      }
    }
    .allot-left-mask{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.65);
      height: 100%;
      z-index: 1000;
    }
  }

  .allot-right{
    p {
      margin-top: 15px;
      .major-name {
        width: 88px;
        height: 24px;
        display: inline-block;
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
        line-height: 24px;
      }
    }
    .ant-menu-horizontal{
      line-height: 40px;
    }
  }
}
